@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0px;
  background: #fef9f6;
  color: black;
  margin: auto;
}

/*  @media screen and (max-width: 768px) {
  body {
    font-size: 10px;
    margin-left: -30px;
    margin-top: 30px;
  }

  .nav-container .list-non-bullet .list-item-inline {
    padding: 0px 7px;
  }

  .list-item-inline .login-btn {
    padding: 3.5px;
    padding-left: 5.5px;
    padding-right: 5.5px;
    font-size: 8px;
  }

  .list-item-inline .nav-brand {
    padding-right: 30px;
    font-weight: bold;
    font-size: 9px;
  }
} */

.login-btn {
  border-radius: 0.7rem;
  border-style: none;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 10rem;
  margin-right: -1.5rem;
  font-size: 17px;
  font-family: inherit;
  font-weight: bold;
  color: #2e2e2e;
  background-color: #f1f5f9;
  outline: none;
  text-decoration: none;
}

.start-btn {
  border-radius: 0.7rem;
  border-style: none;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 17px;
  font-family: inherit;
  font-weight: bold;
  color: white;
  background-color: #2e2e2e;
  outline: none;
  text-decoration: none;
}

.login-btn:hover,
.start-btn:hover {
  cursor: pointer;
  transform: scale(0.9);
  text-decoration: none;
}

.nav-brand {
  padding-right: 14rem;
  font-weight: bold;
  color: #2e2e2e;
}

.milton-logo {
  color: #2e2e2e;
  background-color: #f1f5f9;
  padding: 0.3rem;
  border-radius: 0.6rem;
}

.nav-container {
  font-size: 17px;
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 1rem;
  color: grey;
  font-weight: bold;
}

.list-item-inline:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.line {
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
  height: 0.1px;
  background: #d1d5db;
}

header {
  text-align: center;
}

.sub-head {
  background-color: #f1f5f9;
  color: #2e2e2e;
  font-weight: bold;
  width: 18%;
  margin-top: 5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
}

header > h1 {
  font-size: 85px;
  max-width: 69%;
  margin: 0.5rem;
  margin: auto;
  font-weight: bolder;
}

header > p {
  font-size: x-large;
  max-width: 55%;
  margin: 0.5rem;
  margin: auto;
  color: grey;
  padding: 1rem;
}

.buy-btn,
.made-btn {
  padding: 0.8rem;
  background-color: white;
  color: #2e2e2e;
  border-radius: 1.2rem;
  border-style: none;
  font-size: 15px;
  font-weight: bold;
  font-family: inherit;
  outline: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 465px;
  right: 20px;
}

.buy-btn:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.homepage-screenshot {
  width: 1200px;
  height: 700px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 1px solid #d1d5db;
  border-radius: 1rem;
}

.image-container {
  text-align: center;
}

.footer-container {
  background-color: #f1f5f9;
  margin: auto;
  margin: 0px;
  min-height: auto;
}

.socials-list-non-bullet {
  list-style: none;
  font-size: 22px;
  font-weight: bolder;
  margin-right: 2rem;
  margin-top: 3.5rem;
}

.socials-list-item-inline {
  margin-right: 0.8rem;
  margin-top: 2rem;
  color: grey;
  font-weight: 200;
  font-size: 17px;
}

.socials-list-item-inline:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.socials-icon {
  width: 35px;
  height: 35px;
  display: inline;
  cursor: pointer;
  padding: 0.5rem;
}

.feature-pics {
  width: 700px;
  height: 620px;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
}
